.navbar-toggler {
        display:block;
    }

nav {
    width: 0% !important;
    height: 0em !important;
}

.navbar {
    background: #743125 !important;
}

.request-button {
	padding: 5px !important;
}

.y {
    position: absolute;
    top: 16.5%;
    left: 30% !important;
}

.navbar-collapse {
    background: #dbcdbd;
        padding: 10px 220px 10px 50px;
    position: absolute;
    right: 1px;
    top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
    /*padding: 20px;
    float: left;
    position: absolute;
    top: 205% !important;
    left: -80%;*/
}

#menu-main-nav {
	margin-left: 85px;
}
