/*.navbar ul.navbar-nav li.nav-item a.nav-link {  
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 20px;
}*/

nav {
    width: 0% !important;
    height: 0em !important;
}

.navbar {
    background: #743125 !important;
}

.request-button {
	padding: 5px !important;
}

.y {
    position: absolute;
    top: 16.5%;
    left: 30% !important;
}

.navbar-collapse {
    background: #dbcdbd;
        padding: 10px 180px 10px 50px;
    position: absolute;
    right: 0px;
    top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
}

#menu-main-nav {
	margin-left: 50px;
}

.div-services {
    width: 300px;
}

.home-srv-img {
  height: 200px; 
  width: 300px;
}

@media screen and (max-width: 430px) {
.navbar-collapse {
        padding: 10px 120px 10px 50px;
}

.div-services {
    width: 300px;
}

.home-srv-img {
  height: 200px; 
  width: 300px;
}

form {
    width: 100%;
    margin-left: 0rem;
}

.home-testimonials-review1 {
    margin: 30px 0px 0px 30px;
}

.home-round-img1 {
    left: 15rem;
}
}

@media screen and (max-width: 380px) {
.home-testimonials-review1 {
    margin: 30px 0px 0px 20px;
}

.home-round-img1 {
    left: 14rem;
}

.talk-bubble {
    margin: 20px;
    width: 230px;
}
}

@media screen and (max-width: 360px) {
.home-round-img {
    left: 2.5rem;
}

.home-testimonials-review {
    width: 200px;
    padding: 10px 20px 10px 55px;
}

.talk-bubble {
    margin: 40px;
}
}

@media screen and (max-width: 320px) {
.talk-bubble {
    margin: 20px;
    width: 200px;
}

.home-round-img {
    left: 1.5rem;
}

.home-testimonials-review {
    width: 160px;
    padding: 10px 20px 10px 40px;
}

.home-round-img1 {
    left: 11.5rem;
    bottom: 6.5rem;
}

.home-testimonials-review1 {
    width: 180px;
}
}