
@media only screen 
and (min-device-width : 1024px) 
and (max-device-width : 1366px)  {
    .y {
    top: 7.25%;
    left: 4%;
}
}

@media screen and (max-width : 1023px)  {
    .y {
	left: 4%;
	top: 15.5%; 
}
}

@media screen and (max-width: 1010px) {
.y {
    left: 2%;
	top: 15.5%; 
}
}

@media screen and (max-width: 991px) {
.y {
    left: 12%;
	top: 15.5%; 
}

.col-md-4 {
    flex: 1 0 100%;
    max-width: 100%;
}

.div-services {
    width: 500px;
}

.home-srv-img {
  height: 300px; 
  width: 500px;
}

form {
    width: 90%;
    margin-left: 2rem;
}
}

@media screen and (max-width: 850px) {
.y {
    left: 8%;
	top: 16.5%; 
}
}