/*.navbar ul.navbar-nav li.nav-item a.nav-link {  
  margin-left: 10px !important;
  margin-right: 10px !important;
  margin-top: 20px;
}*/

nav {
    width: 0% !important;
    height: 0em !important;
}

.navbar {
    background: #743125 !important;
}

.request-button {
	padding: 5px !important;
}

.y {
    position: absolute;
    top: 16.5%;
    left: 30% !important;
}

.navbar-collapse {
    background: #dbcdbd;
        padding: 10px 180px 10px 50px;
    position: absolute;
    right: 0px;
    top: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
}

#menu-main-nav {
	margin-left: 50px;
}

@media screen and (max-width: 400px) {
.navbar-collapse {
        padding: 10px 120px 10px 50px;
}