/*Home page developed by Pawandeep kaur*/
* {
    box-sizing: border-box;
}
 
html {
    width: 100%;
    min-height: 100%;
}
 
body {
    width: inherit;
    min-height: inherit;
    margin: 0;
    padding: 0;
    font-size: 1rem !important;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.home-top-div {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 18px;
  font-weight: bold;  
  background-color: #743125;
  padding: 0px 0px 20px 0px;
  color: #dbcdbd;
  /*background: linear-gradient(to right, rgb(139,195,74), rgb(0,128,0), rgb(0, 128, 64));*/
}

.home-top-info {
  margin-top: 25px;
}

.home-page-logo {
  height: 110px;
  width: 160px; 
  /*float: left; 
  margin-left: 4rem;*/
  padding: 5px 0px 15px 0px;
}


.z{
    height:500px;
}
.y{
    position:absolute;
    top:14.5%;
    left: 8%;
    z-index: 1000;
}

.home-item-space {
  margin-top: 10px;
}

.home-srv-img {
  height: 200px; 
  width: 300px;
}
.request-button {
  background-color: #3f7033;
  color: #dbcdbd;
  /*border-radius: 15px;*/
  border: 3px solid #3f7033;
  height: auto;
  padding: 8px;
  font-size: 16px;
  width: auto;
  font-weight: bold;
  /*margin-left: 10px;*/
}

.request-button:hover {
  background-color: #dbcdbd;
  color: #3f7033;

}

.login-btn {
  background-color: #dbcdbd;
  color: #743125;
  /*border-radius: 15px;*/
  border: 3px solid #743125;
  height: auto;
  padding: 8px;
  font-size: 16px;
  width: 80px;
  font-weight: bold;
  /*margin-left: 10px;*/
}

.login-btn:hover {
  background-color: #dbcdbd;
  border: 3px solid #dbcdbd;
  color: #00b5f1;

}

.lifts {
  margin-top: 0px !important;
}

.nav-item {
  margin-top: 10px;
}
.nav-item-fill-back {
  background-color: #3f7033 !important;
  color: #dbcdbd !important;
}
nav {
    /*width: 99%;*/
    height: 5em;
}
/* change navbar background */
.navbar {
  background: #dbcdbd !important;

}
/* change navbar-brand color */
/*.navbar a.navbar-brand {
  color: red;
  margin-left: 20px;
  margin-right: 50px;
}*/
/* change navbar-brand color on hover */
.navbar a.navbar-brand:hover {
  color: green;
}
/*  change navbar li colors, also active one but not disabled one */
.navbar ul.navbar-nav li.nav-item a.nav-link {
  color: #743125;
  font-weight: bold;
  /*margin-left: 20px;
  margin-right: 20px;
  *//*margin-top: 20px;*/
}

.home-item-space {
    margin-top: 0px !important;
}

.navbar .nav-item .dropdown-menu {
  background: #dbcdbd;  
    text-align: center !important;
}
.navbar .nav-item .dropdown-menu .dropdown-item {
  background: #dbcdbd;
}

.dropdown-divider {
  border-top: 1px solid #743125 !important;
}
/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#dbcdbd' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: black;
}
/* change hamburger button border color */
.navbar-light .navbar-toggler {
  border-color: #dbcdbd !important;
}


.fixed-back { 
  width: 100%;
  min-height: 400px;
  background-image: url('http://getitfix.ictatjcub.com/images/buck.jpg');
  background-attachment: fixed;
  padding: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background-color: #dbcdbd !important;
  margin: 0px !important;
  text-align: center;
  /*padding-left: ($spacer * .5) !important;
  padding-right: ($spacer * .5) !important;*/
}

.home-back {
  background-color: #dbcdbd !important;
}
/*.text-indent{
  margin-left: 7rem;
  margin-right: 7rem;
}*/

.jumbotron p {
  margin-bottom: 2rem;
}

.panel-transparent {
  background:  
    linear-gradient(
      rgba(0,0,0,0.3), 
      rgba(0,0,0,0.3)
    ),
    url('http://getitfix.ictatjcub.com/images/blue.jpg');
  width: 100%;
  min-height: 400px;
  background-attachment: fixed;
  padding: 0px !important;
  margin: 0px !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel-transparent h2{
  /*background: rgba(122, 130, 136, 0.7)!important;*/
  text-align: center;
  padding: 20px;
}


.block {
    text-align: center;
    vertical-align: middle;
}
.circle {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    color: black;
    height: 300px;
    font-weight: bold;
    width: 300px;
    display: table;
    margin: 20px auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 20px;
}
.circle h3 {
    vertical-align: middle;
    margin-top: 10px;
}

.circle img {
    vertical-align: middle;
}

.first-block {
  margin-left: 7rem;
}

.second-block {
  margin-left: 3.5rem;
}

.main-service-box {
  /*margin-bottom: 5rem;*/
}
.services-box {
 height: 300px;
  width: auto;
  margin-left: 7rem;
  margin-right: 7rem;
  border: 1px solid red; 
}
.div-services {
  display: table;
  margin: 20px auto;
  height: auto;
  width: 300px;
  background-color: #dbcdbd;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
}

.div-services h5 {
  padding: 20px 20px 10px 20px;
}

.div-services p {
  padding: 0px 10px 20px 10px;
}

.service-btn {
    background-color: #3f7033;
    color: white;
    border: 2px solid #3f7033;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;
}

.why {
  width: 100%;
  height: auto;
  background-color: #743125;
  color: #dbcdbd;
  text-align: center;
  padding-top: 3rem;
}

.why h2 {
  color: #00b5f1;
}

.why h4 {
  color: #00b5f1;
}

.why-img {
  margin-top: 3rem;
  width: 400px;
}

.request-form {
  width: 100%;
  height: auto;
  background-color: #d2c3ad;
  padding: 3rem;
}

.request-form h2{
  color: #743125;
  text-align: center;
}

.request-area {
}

.btn-whatever {
    background: #743125 !important;
    color: #ffffff;
    border-color: #743125 !important;
    font-size: 1rem !important;
}
#myform {
  width: 70%;
  height: auto;
  vertical-align: middle;
  margin-left: 10rem;
  margin-top: 2rem;
  border: 4px solid #743125;
  border-radius: 10px;
  padding: 20px;  
  background-color: #d2c3ad;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}

form label {
  color: #743125; 
  font-size: 1rem;
  font-weight: bold;
}

.form-control {
  background-color: #D2C3AD !important;
  border: 1px solid #dbcdbd !important;
  color: white !important;
  font-size: 1rem;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.35);
}


.home-testimonials {
  background-image: url('http://getitfix.ictatjcub.com/images/map.jpg');
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.home-testimonials h1{
  /*background: rgba(115, 38, 38, 0.7);*/
  text-align: center;
  padding-top: 20px;
  color: #743125;
}

.talk-bubble {
  margin: 40px;
  display: inline-block;
  position: relative;
  width: 300px;
  height: auto;
  background-color: lightyellow;
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4), 4px 6px 20px 4px rgba(0, 0, 0, 0.35);
}

.tri-right.btm-left:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  right: auto;
  top: auto;
  bottom: -20px;
  border: 22px solid;
  border-color: transparent transparent transparent lightyellow;
}

.tri-right.btm-right:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: 0px;
  bottom: -20px;
  border: 12px solid;
  border-color: lightyellow lightyellow transparent transparent;
}


.talktext{
  padding: 1em;
  text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.col-special {
    flex: 0 0 50%;
    max-width: 50%;
}

.home-testimonials-review {
  position: relative;
  background: rgba(115, 38, 38, 0.7); 
  border-radius: 15px;
  color: white;
  width: 220px;
  padding: 10px 20px 10px 30px;
  margin: 30px 0px 0px 100px;
}

.home-testimonials-review1 {
  position: relative;
  background: rgba(115, 38, 38, 0.7); 
  border-radius: 15px;
  color: white;
  width: 220px;
  padding: 10px 20px 10px 20px;
  margin: 30px 0px 0px 100px;
}
.home-round-img {
  position: absolute;
  bottom: 7.2rem;
  height: 120px;
  border: 2px solid #743125;
}

.home-round-img1 {
  position: absolute;
  bottom: 7.2rem;
  left: 19.5rem;
  height: 120px;
  border: 2px solid #743125;
}

.home-testimonials-base {
  height: 210px;
  width: 170px;
}

/*---------start of footer------------*/
footer {
  background-color: #3e4551;
  color: white;
  width: 100%;
}

.footer-copyright {
  background-color: #323741;
  color: grey;
}

.footer-copyright a{
  color: white;
}

.list-unstyled a {
  color: white;
}

.btn-footer {
  background-color: #3f7033;
  border-color: #3f7033;
}

.btn-footer:hover {
  background-color: #323741;
  border: 3px solid #3f7033;
  color: #3f7033;
}

i {
  padding: 20px;
  width: 58px;
  text-align: center;
  color: white;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
}

i:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.35), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.fa-facebook {
  background-color: #3B5998;  
}

.fa-twitter {
  background-color: #55acee;
}

.fa-google-plus {
  background-color: #dd4b39;
  }





/*-----------------------------CONTACT US---------------------------------*/

.contact-top-div {
   background:  
    linear-gradient(
      rgba(63, 112, 51, 0.65), 
      rgba(63, 112, 51, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/Contact-us1.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.contact-top-div h1 {
  padding-top: 6rem;
}

.contact-us-div {
  width: 100%;
  height: auto;
  background-color: #dbcdbd;
  color: #743125;
  padding: 50px;
}

.contact-telephone{
  height: 140px;
}
.contact-control {
  width: 30%;
  height: 50px !important;
  border-radius: 5px;
  background-color: #dbcdbd;
  border: 2px solid #743125;
  margin: 40px 0px 0px 10px;
  padding: 10px !important;
}

.btn-contact {
  background: #743125 !important;
    color: #ffffff;
    border-color: #743125 !important;
    height: 50px;
    margin: -4px 0px 0px 10px;
}

.contact-get-back {
  background-color: #3f7033;
  width: 100%;
  text-align: center;
  padding: 30px;
  /*margin-top: 20px;*/
}

.contact-fill-form {
  width: 100%;
  height: auto;
  background-color: #dbcdbd;
  padding: 2rem;
}

.contact-head {
  text-align: center;
  color: #743125;
}

.contact-support {
  position: absolute;
  top: 0%;
  left: 0%;
  float: left;
  height: 196px;
  margin-left: 0px !important;
}

.contact-details {
  display: table;
  height: auto;
  width: 300px;
  text-align: center;
  z-index: 1000;
  padding: 20px;
      font-size: 2rem;
      color: #dbcdbd;
}
/*pest control css by lakhpreet singh*/
.pest-main-img{
  width: 100%;
  height: 250px;
  position: absolute;
}

.pest-top-div {
   background:  
    linear-gradient(
      rgba(63, 112, 51, 0.65), 
      rgba(63, 112, 51, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/grass1.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.pest-top-div h1 {
  padding-top: 6rem;
}

.pest-main-text {
  color: white;
  position: absolute;
  top: 5rem;
  left: 28rem;
  z-index: 1000;
  background-color: rgba(46, 51, 56, 0.3);
}

.pest-intro {
  padding: 3rem 0rem 3rem 0rem;
  background-color: #dbcdbd;
}


.pest-intro p {
  margin: 10px 0px 30px 0px;
  
}

.pest-slideshow {
  background-color: #dbcdbd;
}

.pest-work {
  background-color: #743125;
  color: white;
  text-align: center;
  padding: 20px;
}

.pest-work span{
  color: lightgrey;
  font-size: 20px;
}


.slideshow-container {
    max-width: 1000px;

    position: relative;
    margin: auto;
  }

    .active {
    background-color: #717171;
  }


 .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.0s;
    animation-name: fade;
    animation-duration: 2.0s;
  }

  @-webkit-keyframes fade {
    from {opacity: .9}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  @media only screen and (max-width: 300px) {
 .text {font-size: 11px}
  }
  {
  display: table;
  margin: 10px auto;
  height: auto;
  width: 250px;
  background-color: #f5f2ef;
  border: 1px solid #ebe5e0;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.pest-work1{
  display: table;
  margin: 10px auto;
  height: 300px;
  width: 250px;
  background-color: #dbcdbd;
  border: 1px solid #ebe5e0;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 1000;
  font-size: 14px;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.pest-work1 h5 {
  padding: 20px 20px 10px 20px;
  background-color: #3f7033;
  color: white;
}



.pest-work1 p {
  padding: 0px 10px 10px 10px;

  /*background-color: lightgrey;*/
  } 
  .pest-pic{
    width: 100%;
    height: auto;
  }
  .pest-work2{

    background-color: #dbcdbd;
  }



/*------------------pricing starts-----------------*/

.pricing-button {
  background-color: #3f7033;
  color: #dbcdbd;
  /*border-radius: 15px;*/
  border: 3px solid #3f7033;
  height: auto;
  width: 80px;
  padding: 8px;
  font-size: 16px;
  width: auto;
  font-weight: bold;
  float: right;
  margin-bottom: 10px;
  
}

.pricing-button:hover {
  background-color: #dbcdbd;
  color: #3f7033;

}

.pricing-main-img{
  width: 100%;
  height: 250px;
  position: absolute;
}

.pricing-table {
  background-color: #dbcdbd;
  padding: 50px;
}
.pricing-top-div {
  padding-top: 6rem;
}
.pricing-top-div {
  background:  
    linear-gradient(
      rgba(51, 102, 255, 0.65), 
      rgba(63, 112, 51, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/pricing7.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.pricing-main-text {
  color: #743125;
  position: absolute;
  top: 5rem;
  left: 35rem;
  z-index: 1000;
  

}

.pricing-main {
  margin: 20px;
  text-align: center;
  text-align: left;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
}



.pricing1{
  display: table;
  margin: 10px auto;
  height: 280px;
  width: 250px;
  background-color: #f5f2ef;
  border: 1px solid #ebe5e0;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  z-index: 1000;
  font-size: 14px;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.pricing1 h5 {
  padding: 20px 20px 10px 20px;
  background-color: grey;
}

.pricing-color{
  color: #dbcdbd;
  background-color: #743125;
  text-align: center;
  padding: 30px;
}


.pricing1 p {
  padding: 0px 10px 10px 10px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
th{
  color: #743125;
  font-weight: 600;
}

td, th {
  border: 3px solid #743125;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #c0a48c;
}

.pricing-text {
  margin: 20px;
  text-align: center;
  text-align: left;
  margin-top: 3rem;
}


.pricing-text p {
  margin: 10px 0px 30px 0px;
  
}
.pricing-pest{
  float: right;

}

}
.pricing-cleaning{
  float: right;

}

}
.pricing-lawn{
  float: right;

}

/*carpet cleaning done by manjeet kaur*/
.carpet-top-div {
   background:  
    linear-gradient(
      rgba(63, 112, 51, 0.65), 
      rgba(0, 102, 204, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/bond51.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.carpet-top-div h1 {
  padding-top: 6rem;
}

.carpet-intro-div {  
  padding: 3rem 0rem 3rem 0rem;
  background-color: #dbcdbd;
}

.carpet-main-img{
  width :100%;
  height :250px;
  position: absolute;
}


.carpet-top-div{
  width: 100%;
  height: 250px;
  background-color: #dcbdbd;
}

.carpet-vacuum-div {
    overflow: hidden;
}
.carpet-vacuum-img {
    float: right;
    width: 180px;
    height: 360px;
    background-color: #3F7033;
}
.carpet-vacuum-text-div {
    overflow: hidden;
    height: 360px;
    background-color: #3F7033;
}

.carpet-vacuum-text {
    margin-top: 20px;
    height: 320px;
    padding: 90px 50px 20px 150px;
    background-color: #dbcdbd;
    font-size: 1.75rem;
}

.vacuumpic {
    height: 360;
    width: 180;
    position: absolute;
}

.carpet-price-starsts{
  padding:30px;
  text-align: center;
  background-color:#743125;
  color: #dbcdbd;
}
.carpet-price{  
  background-color: #3F7033;
  width: auto;
  margin-left: 15rem;
    font-size: 1.75rem;
    padding: 10px 20px 10px 20px;

  color: #dbcdbd;
  border: 3px solid #3F7033;
}
.carpet-price:hover{
background-color: #dbcdbd;
  color: #3F7033;
  /*font-weight: bold;*/
}
.carpet-process{
  background-color:#dbcdbd;
    padding-top: 20px;
}
.carpet-work-process{
  display: table;
  margin: 20px auto;
  height: 400px;
  width: 300px;
  background-color: #dbcdbd;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
}

.carpet-work-process h5 {
  padding: 20px 20px 10px 20px;
}
.carpet-work-process p {
  padding: 0px 10px 20px 10px;
}
.process-heading{
  text-align: center;
  padding: 14px 30px;
  margin-top: 20px;
}
.carpet-process-img{
  height: 200px; 
    width: 300px;
}


/*..........bond cleaning..............*/
.bond-main-img{
  width :100%;
  height :250px;
  position: absolute;
}
.bond-top-div{
  background:  
    linear-gradient(
      rgba(63, 112, 51, 0.65), 
      rgba(0, 102, 204, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/bond-cleaning-back.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.bond-top-div h1 {
  padding-top: 6rem;
}

.bond-main-text{
  color: white;
  position: absolute;
  top: 5rem;
  left: 29rem;
  z-index: 1000;
  background-color: rgba(46, 51, 56, 0.3);
}

.bond-faq-ques {
  display: table;
  height: auto;
  width: 100%;
  background-color: #c0a48c;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  /*margin-bottom: 1rem;*/
  padding: 10px;
}

.bond-faq-ans {
  display: table;
  height: auto;
  width: 100%;
  background-color: #c0a48c;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  padding: 10px;
}

.bond-intro{
  padding: 3rem 0rem 3rem 0rem;
  background-color: #dbcdbd;
}
.bond-main-img{
  width :100%;
  height :250px;
  position: absolute;
}
.bond-services{
    background:  
    linear-gradient(
      rgba(204, 153, 0, 0.45), 
      rgba(153, 204, 255, 0.45)
    ),
    url('http://getitfix.ictatjcub.com/images/banner1.jpg');
      height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.bond-service-heading{
  padding: 2rem 0rem 2rem 0rem;
    background-color: #743125;
    color: #dbcdbd;
}
.bond-services-list{
    font-weight: 600;
    padding: 2rem 0rem 2rem 30rem;
}
.bond-images{
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.bond-services-ul li{
  list-style: none;
  margin-bottom: 20px;
  font-size: 1.45rem;
  opacity: 2000;
}
.bond-quote{
  padding: 2rem 0rem 2rem 0rem;
  background-color: #743125;
  color: #dbcdbd;
  align-content: center;
}
.bond-quote-button{
  background-color: #3F7033;
  border: 3px solid #3F7033;
  color: #dbcdbd;
  margin: 20px 0px 0px 35px;
  padding: 15px  15px 15px 15px;
}

.bond-quote-button:hover {
  background-color: #743125;
  color: #3F7033;
  font-weight: bold;
}

.bond-faq{
  background-color: #dbcdbd;
  padding-bottom: 2rem;
}
.bond-faq-heading{
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
}
.bond-faq-list{
      margin: 10px 0px 0px 10px;
    display: inline-block;
    
}

.bond-faq-list h5{
  float: left;
}
/*.bond-faq-content{
  background-color: #3F7033;
  border: 1px solid #dbcdbd;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
.bond-faq-content P{
  padding: 0px 10px 20px 10px;
} 
.bond-faq-btnS{
  background-color: #3F7033;
  color: #dbcdbd;
  float: right;
  margin: 0px 10px 0px 10px;
}
/*about-us done by ninderpal*/
/*bug fixing and responsiveness done by Pawandeep kaur*/

.about-top-div {
  background:  
    linear-gradient(
      rgba(0, 204, 255, 0.65), 
      rgba(204, 153, 0, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/slide2.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.about-top-div h1 {
  padding-top: 6rem;
}

.about-intro-img {
  height: 300px;
  width: 100%;
}


.about-into-head{
    padding-top: 30px; 
}

.about-intro-img{
  color: #3f7033;
    padding-top: 50px;
    height: 300px;
    width: 100%; 
    margin-bottom: 2rem;
}

.list-head{
  color: #3f7033;
  position: absolute;
  top: 5rem;
  left: 28rem;
  z-index: 1000;
  background-color: rgba(46, 51, 56, 0.3);
}

.about-intro-div {
  background-color: #dbcdbd;
  
}

.about-why-us-div {
  background-color: #dbcdbd;
}
.about-into-head2{
    padding-top: 50px; 
}

.about-intro-img2{
  height: 300px;
  width: 100%;
  padding-bottom: 50px;
  opacity: 10;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.footer-about{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(150, 103, 105);
  color: white;
  text-align: center;
  background-color: #743125

}
.about-button {
  background-color: #3f7033 ;
  color: #dbcdbd ;
  border: 2px solid #3f7033 ;
  height: auto;
  padding: 10px;
  font-size: 1.45rem;
  width: auto;

}

.about-workers-text {
  margin-top: 3rem;
}
.about-workers {
  background-color: #dbcdbd;
  padding-top: 2rem;
}

.button-back{
  background-color: #743125;
  padding: 20px 0px 20px 0px;
  color: white;
}


.about-button:hover {
  background-color: #743125;
}

.about-full-image {
  width:100%;
  height: 500px;
}

.footer-about
{
  background-color: ##3f7033 !important;

}



/*checklist bug fixing done by Pawandeep kaur*/


.Checklist-top-div {
   background:  
    linear-gradient(
      rgba(51, 51, 204, 0.65), 
      rgba(0, 153, 51, 0.65)
    ),
    url('http://getitfix.ictatjcub.com/images/service2.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.Checklist-top-div h1 {
  padding-top: 6rem;
}

.check-head{
  padding: 20px;
  background-color: #743125;
  color: #dbcdbd;
}

.checklist-head{
  padding: 20px 0px 0px 20px;
    }

.checklist-img {
  /*border: 2px solid red;*/
  height: 300px;
  width: 300px;
  margin: 0px 0px 20px 0px;
}

.list-img1{
  height:400px;
 padding-top: 20px;

}

.list-img2{
  padding-top: 20px;
  width: 100%;
  height:300px;
}
.checklist1{
  background-color: #dbcdbd;
  padding: 20px 0px 20px 0px;
}

.checklist2{
  background-color: #c0a48c;
  padding: 20px 0px 20px 0px;
}

/* pressure wash css*/

.pressure-main-img{
  width: 100%;
  height: 250px;
  position: absolute;
}

.pressure-top-div {
   background:  
    linear-gradient(
      rgba(63, 112, 51, 0.65), 
      rgba(63, 112, 51, 0.65)
    ),
    url('http://192.168.64.2/GetItFix/images/pressure.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.pressure-top-div h1 {
  padding-top: 6rem;
}

.pressure-main-text {
  color: white;
  position: absolute;
  top: 5rem;
  left: 28rem;
  z-index: 1000;
  background-color: rgba(46, 51, 56, 0.3);
}
.pressure-intro {
  padding: 3rem 0rem 3rem 0rem;
  background-color: #dbcdbd;
}


.pressure-intro p {
  margin: 10px 0px 30px 0px;
  
}

.pressure-cleaning{
    background:  
    linear-gradient(
      rgba(204, 153, 0, 0.45), 
      rgba(153, 204, 255, 0.45)
    ),
    height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.pressure-cleaning-heading{
  padding: 2rem 0rem 2rem 0rem;
    background-color: #743125;
    color: #dbcdbd;
}
.pressure-process{
  background-color:#dbcdbd;
    padding-top: 20px;
}
.pressure-work-process{
  display: table;
  margin: 20px auto;
  height: 400px;
  width: 300px;
  background-color: #dbcdbd;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
}

.pressure-work-process h5 {
  padding: 20px 20px 10px 20px;
}
.pressure-work-process p {
  padding: 0px 10px 20px 10px;
}
.process-heading{
  text-align: center;
  padding: 14px 30px;
  margin-top: 20px;
}
.pressure-process-img{
  height: 200px; 
    width: 300px;
}
.pressure-wash{
    background:  
    linear-gradient(
      rgba(204, 153, 0, 0.45), 
      rgba(153, 204, 255, 0.45)
    ),
    height: auto;
  width: 100%;
  /*position: absolute;
  left: 0;
  right: 0;*/
  background-repeat: no-repeat;
  background-size: cover;
  

}
.pressure-wash-heading{
  padding: 2rem 2rem 2rem 2rem;
    background-color: #743125;
    color: #dbcdbd;
}



/*.............Registration page..................*/
/*
.login-page-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#loginform {
  width: 50%;
  height: auto;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 2rem;
  padding: 20px;  
  background-color: #d2c3ad;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), 0 1px 1px 0 rgba(0, 0, 0, 0.35);

}
*/



/*............Lawn Mowing...........*/
.lawn-top-div{
  background:  
    linear-gradient(
      rgba(63, 112, 51, 0.65), 
      rgba(0, 102, 204, 0.65)
    ),
    url('http://192.168.64.2/GetItFix/images/grass1.jpg');
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.lawn-top-div h1 {
  padding-top: 6rem;
}
.lawn-intro{
 padding: 3rem 0rem 3rem 0rem;
  background-color: #dbcdbd; 
}
.lawn-quote{
  padding: 2rem 0rem 2rem 0rem;
  background-color: #743125;
  color: #dbcdbd;
  align-content: center;
}
.lawn-quote-button{
  background-color: #3F7033;
  border: 3px solid #3F7033;
  color: #dbcdbd;
  margin: 20px 0px 0px 35px;
  padding: 15px  15px 15px 15px;
}

.lawn-quote-button:hover {
  background-color: #743125;
  color: #3F7033;
  font-weight: bold;
}
.lawn-services{
  background:  
    linear-gradient(
      rgba(204, 153, 0, 0.45), 
      rgba(153, 204, 255, 0.45)
    ),
    url('http://192.168.64.2/GetItFix/images/banner1.jpg');
      height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.lawn-service-heading{
  padding: 2rem 0rem 2rem 0rem;
    background-color: #743125;
    color: #dbcdbd;
}
.lawn-service-list{
  background-color: #dbcdbd;
}
.lawn-service-img{
  height: 200px; 
    width: 300px;
}
.lawn-all-service{
  display: table;
  margin: 20px auto;
  height: 400px;
  width: 300px;
  background-color: #dbcdbd;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
}

.lawn-all-service h5 {
  padding: 20px 20px 10px 20px;
}
.lawn-all-service p {
  padding: 0px 10px 20px 10px;
}
.lawn-faq{
  background-color: #dbcdbd;
  padding-bottom: 2rem;
}
.lawn-faq-heading{
  padding: 2rem 0rem 2rem 0rem;
  text-align: center;
}
.lawn-faq-ques{
  display: table;
  height: auto;
  width: 100%;
  background-color: #c0a48c;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  /*margin-bottom: 1rem;*/
  padding: 10px;
}

.lawn-faq-ans {
  display: table;
  height: auto;
  width: 100%;
  background-color: #c0a48c;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  padding: 10px;
}
.lawn-faq-list{
      margin: 10px 0px 0px 10px;
    display: inline-block;
    
}

.lawn-faq-list h5{
  float: left;
}
/*.bond-faq-content{
  background-color: #3F7033;
  border: 1px solid #dbcdbd;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}*/
.lawn-faq-content P{
  padding: 0px 10px 20px 10px;
} 
.lawn-faq-btnS{
  background-color: #3F7033;
  color: #dbcdbd;
  float: right;
  margin: 0px 10px 0px 10px;
}


/*............Login form...........*/
.main-background{
  margin: 0;
  padding: 0;

}

.main-background:before{
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url('http://192.168.64.2/GetItFix/images/window.jpg');
  background-position: center center;
  background-repeat:no-repeat;
  background-attachment: fixed;
  -webkit-background-size:cover;
  background-size:cover; 
  -webkit-filter: blur(1px); 
  -moz-filter: blur(1px);
}
.Login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 400px;
  height: 500px;
  padding: 10px 40px;
  background: rgba(0,0,0,0.6);
}

.avatar{
  /*position: absolute;*/
  width: 120px;
  height: 100px;
  margin-left: 6rem;
  /*
  border-radius:50%;
  overflow: hidden;
  top: calc(-80px/2);
  left: calc(50% - 40px);*/

}

.signForm{
  margin-top: 40px;
}

.Login-form h2{
   margin: 0;
   padding: 0 0 20px;
   color: #fff;
   text-align: center;
   text-transform: uppercase;
}

.Login-form p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
}

.Login-form input{
  width: 100%;
  margin-bottom: 20px;
}
.Login-form input[type="email"],
.Login-form input[type="password"]
{
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 40px;
      color: #fff;
      font-size: 16px; 
}
.Login-form input[type=button]{
    height: 45px;
    color: #fff;
    font-size: 18px;
    background: #3F7033 ;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
    margin-top: 10%;
}

}
.Login-form a
{
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

