
.carpet-top-text{
	color: white;
	position: absolute;
	top: 5rem;
	left:28rem;
	z-index:1000;
	background-color:rgba(46, 51, 56, 0.3);
}

.carpet-intro-div {
	
	padding: 3rem 0rem 3rem 0rem;
	background-color: #dbcdbd;
}
.carpet-main-img{
	width :100%;
	height :250px;
	position: absolute;
}


.carpet-top-div{
	width: 100%;
	height: 250px;
	background-color: #dcbdbd;
}



.vacuum_dad {
    box-sizing: border-box;
    width: 100%;

}
.celldad, .celldadinline, .maxwidthdiv {
    display: table;
    vertical-align: middle;

}
.celldad, .celldadinline {
    margin: 0;
    padding: 0;

}
.vacuumed {    
    background: #3F7033;
    color: #dbcdbd;
    height: 311px;
    padding: 0 50px 0 230px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
    position: relative;
    z-index: 2;

}
.cell {
    display: table-cell;
    vertical-align: middle;
    
}
.vacuumed_text_conta {
    max-width: 1200px;
    text-align: left;

}
.automargin {
    margin: 0 auto;
}
.quoter {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: -20px 10px 0 0;
}

.promisetext {
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    white-space: normal;
}
.span {
    color: #505050;
    font-size: 24px;
}
.vacuumpicconta {
    width: 180px;
    position: relative;
    background-color: #dbcdbd;
}
.cell {
    display: table-cell;
    vertical-align: middle;
}
.vacuumpic {
    top: -25px;
    width: 180px;
    height: 335px;
    left: -1px;
}
.tes1arrow, .tes1shadow, .tes2arrow, .tes2shadow, .vacuumpic {
    position: absolute;
}

.carpet-price-starsts{
	padding:30px;
	text-align: center;
	background-color:#743125;
	color: #dbcdbd;
}
.carpet-price{
	
	background-color: #3F7033;
	width: 15%;
	padding: 10px  10px 10px 10px;
	margin: auto;
	color: #dbcdbd;
	border: 2px solid #3F7033;
}
.carpet-price:hover{
background-color: #743125;
	color: #3F7033;
	font-weight: bold;
}
.carpet-process{
	background-color:#dbcdbd;
    padding-top: 20px;
}
.carpet-work-process{
  display: table;
  margin: 20px auto;
  height: 400px;
  width: 300px;
  background-color: #dbcdbd;
  border: 1px solid #dbcdbd;
  text-align: center;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 5rem;
}

.carpet-work-process h5 {
  padding: 20px 20px 10px 20px;
}
.carpet-work-process p {
  padding: 0px 10px 20px 10px;
}
.process-heading{
	text-align: center;
	padding: 14px 30px;
	margin-top: 20px;
}
.carpet-process-img{
	height: 200px; 
    width: 300px;
}


<!-- bond cleaning-->
.bond-main-img{
	width :100%;
	height :250px;
	position: absolute;
}
.bond-top-div{
	width: 100%;
	height: 250px;
	background-color: #dbcdbd;
}
.bond-main-text{
	color: white;
	position: absolute;
	top: 5rem;
	left: 29rem;
	z-index: 1000;
	background-color: rgba(46, 51, 56, 0.3);
}
.bond-intro{
	padding: 3rem 0rem 3rem 0rem;
	background-color: #dbcdbd;
}
.bond-main-img{
	width :100%;
	height :250px;
	position: absolute;
}
.bond-services{
    background:  
    linear-gradient(
      rgba(204, 153, 0, 0.65), 
      rgba(153, 204, 255, 0.65)
    ),
    url('http://192.168.64.2/manjeet/images/banner1.jpg');
  /*background-image: url('http://localhost/GetItFix/images/contact-us.jpg');*/
  height: auto;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.bond-service-heading{
	padding: 2rem 0rem 2rem 0rem;
    background-color: #743125;
    color: #dbcdbd;
}
.bond-services-list{
	
    padding: 2rem 0rem 2rem 23rem;
}
.bond-images{
	height: 30px;
	width: 30px;
	margin-right: 20px;
}

.bond-services-ul li{
	list-style: none;
	margin-bottom: 20px;
	font-size: 1.45rem;
}
.bond-quote{
 	padding: 2rem 0rem 2rem 0rem;
	background-color: #743125;
	color: #dbcdbd;
	align-content: center;
}
.bond-quote-button{
	background-color: #3F7033;
	border: 3px solid #3F7033;
	color: #dbcdbd;
	margin: 20px 0px 0px 35px;
	padding: 15px  15px 15px 15px;
}

.bond-quote-button:hover {
	background-color: #743125;
	color: #3F7033;
	font-weight: bold;
}

.bond-faq{
	background-color: #dbcdbd;
}
.bond-faq-heading{
	padding: 2rem 0rem 2rem 0rem;
	text-align: center;
}
.bond-faq-list{
	margin-top: 10px;
}
.bond-faq-content{
  background-color: #3F7033;
  border: 1px solid #dbcdbd;
  z-index: 1000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bond-faq-content P{
	padding: 0px 10px 20px 10px;
} 
.bond-faq-btnS{
	background-color: #3F7033;
	color: #dbcdbd;
}