.pest-work1 {
    width: 220px;
}

.bond-services-list{  
    padding: 2rem 0rem 2rem 15rem;
}
@media screen and (max-width : 1075px)  {
.y {
	left: 3%;
	top: 16.5%; 
}
}

@media screen and (max-width : 1045px)  {
.blog-services {
    width: 285px;
}
}

